// Signup Page Styles
@import '../../../styles/styles.scss';

:host {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;

  h2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .input-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 400px;

    .email-input {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
    }

    .password-input {
      grid-column: 1 / 4;
      grid-row: 2 / 3;
    }

    .confirm-password-input {
      grid-column: 1 / 4;
      grid-row: 3 / 4;
    }

    button {
      grid-column: 2 / 3;
      grid-row: 4 / 5;
    }
  }

  .login-container {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: center;
  }

  a {
    cursor: pointer;
  }
  .spinner-container {
    display: flex;
    justify-content: center;
    
    mat-spinner {
      width: 25px;
      height: 25px;
    }
  }


  @media #{$XSmall} {
    grid-template-columns: 1fr;

    h2 {
      grid-column: 1 / 4;
    }

    .input-container {
      grid-column: 1 / 4;
      width: 100%;
    }

    .login-container {
      grid-column: 1 / 4;
      text-align: center;
    }
  }
}
